.locations-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 16px;
    box-sizing: border-box;
  }
  
  .locations-list--item {
    flex: 1 0 45%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .locations-list--item.selected {
    flex: 1
  }
  

  .location-list--item-image {
    height: 160px;
    width: 100%;
    background: #D9D9D9;
    border-radius: 12px;
  }

  .location-list--item-filter {
    display: flex;
    justify-content: space-between;
  }
  
  .location-list--item-filter span {
    font-size: 12px;
    display: flex;
    align-items: center;
  }

  .location-list--item-tree {
    display: flex;
    gap: 2px;
    align-items: center;
  }
  
  .location-list--item-tree span {
    font-size: 14px;
  }
  
  .location-list--item-title {
    font-size: 14px;
  }